@page "/"

<body>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <div class="jumbotron bg-cover">
        <div class="container text-center">
            <h1>Circle City Coffee Co.</h1>
        </div>
    </div>


    <div class="card text-center">
        <div class="card-header" style="background-color: #740819; color: white;">
            Coffee of the Month
        </div>
        <div class="card-body">
            <h5 class="card-title">Irvington Morning Blend</h5>
            <img src="images/coffee1.jpeg" alt="Bag of coffee" width="200" height="200" />
            <br />
            <p class="card-text">A smooth, invigorating blend as timeless as Irvington itself. Bright and balanced with notes of cherry and cocoa. Made with beans ethically sourced from our farms in Latin America. </p>
            <a href="product/category/4" class="btn btn-secondary">Order</a>
            <a href="product/category/4" class="btn btn-secondary">See more coffees</a>
        </div>
    </div>



    <footer class="container-fluid text-center">
        <p>Copyright Alex Eilers 2022</p>
    </footer>
</body>
